<div class="container-fluid">
  <div class="mt-3">
    <div class="fixed-section row d-flex justify-content-center sticky bg-white py-3" style="z-index: 500">
      <h1 class="p-0 m-0 align-self-start align-items-center col-4 blue-color">
        <mat-icon class="m-0 p-0">account_balance</mat-icon>
        <span class="ma-text-secondary mx-2 my-0">Entreprises</span>
      </h1>
      <div class="col-4">
        <input #input (keyup)="applyFilter($event)"
               class="shadow-sm form-control form-control-sm"
               matInput placeholder="Recherche">
      </div>
      <div class="btn-toolbar mb-2 mb-md-0 col-4">
        <div class="btn-group me-2">
          <!--                    <button type="button" class="btn btn-sm ">Ajouter</button>-->
          <button (click)="openDialog()"
                  class="btn btn-sm btn-outline-secondary  shadow-sm">
            Ajouter
          </button>
          <button class="btn btn-sm btn-outline-secondary  shadow-sm"
                  type="button">
            Exporter
          </button>
        </div>
        <button [matMenuTriggerFor]="menu"
                class="btn btn-sm btn-outline-secondary  dropdown-toggle d-flex align-items-center gap-1 shadow-sm"
                type="button">
          Options
        </button>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z1 mt-2 table-container" style="z-index: 0;" tabindex="0">
    <table [dataSource]="dataSource" class="" mat-table matSort>

      <!-- ID Column -->
      <ng-container matColumnDef="id">
        <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" mat-cell>
          <mat-checkbox (change)="toggleRow(row)"
                        (click)="$event.stopPropagation()"
                        [aria-label]="checkboxLabel(row)"
                        [checked]="isRowSelected(row)"
                        class="m-0 p-0"
                        color="primary"
                        style="transform: scale(0.8)">
          </mat-checkbox>
        </td>
      </ng-container>


      <!-- Image Column -->
      <ng-container matColumnDef="img">
        <th *matHeaderCellDef class="blue-color  " mat-header-cell mat-sort-header></th>
        <td *matCellDef="let row" mat-cell   (click)="showCompany(row)">
            <img [src]="environment.baseUrl +'/api/images/'+row.logo" alt="logo" class="img-fluid" height="30px" width="40px">
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th *matHeaderCellDef class="blue-color  " mat-header-cell mat-sort-header> Nom</th>
        <td *matCellDef="let row" mat-cell> {{ row.name }}</td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th *matHeaderCellDef class="blue-color  " mat-header-cell mat-sort-header> Status</th>
        <td *matCellDef="let row" mat-cell>
          <p [class]="row.status === 'ACTIVE' ? 'text-success' :'text-danger'">
            {{ row.status ? row.status : "N/A" }}
          </p>
        </td>
      </ng-container>

      <!-- Created at -->
      <ng-container matColumnDef="created_at">
        <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header> Date de creation</th>
        <td *matCellDef="let row" mat-cell> {{ row.updatedAt |date:"dd/MM/yyyy" }}</td>
      </ng-container>

      <!-- updated at -->
      <ng-container matColumnDef="updated_at">
        <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header>Mis à jour</th>
        <td *matCellDef="let row" mat-cell> {{ row.updatedAt |date:"dd/MM/yyyy" }}</td>
      </ng-container>

      <!-- updated at -->
      <ng-container matColumnDef="createdBy">
        <th *matHeaderCellDef class="blue-color" mat-header-cell mat-sort-header>Crée par</th>
        <td *matCellDef="let row" mat-cell> {{ row.createdBy ? row.createdBy : "N/A" }}</td>
      </ng-container>


      <tr *matHeaderRowDef="displayedColumns; sticky: true;" mat-header-row></tr>
      <tr *matRowDef="let row; columns: displayedColumns;"
          (click)="showCompany(row)"
          class="p-0 m-0 custom-table" mat-row></tr>

      <!-- Row shown when there is no matching data. -->
      <tr *matNoDataRow class="mat-row">
        <td class="mat-cell" colspan="4">Aucune donnée correspondant au recherch "{{ input.value }}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[25, 100]" aria-label="select a page" class="paginator mt-5"></mat-paginator>

    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-icon class="text-secondary">edit</mat-icon>
        <span class="text-secondary">Edit</span>
      </button>
      <button (click)="deleteCompany()" mat-menu-item>
        <mat-icon class="text-danger">delete</mat-icon>
        <span class="text-danger">Supprimer</span>
      </button>
    </mat-menu>


  </div>
</div>
