.custom-table {
  width: 20vh;
  overflow-x: auto;
}

.custom-table th.mat-header-cell, .custom-table td.mat-cell {
  height: 15px; /* Set your desired height */
  line-height: 2px; /* Center text vertically */
  padding: 0px; /* Adjust padding if needed */
}

.table-container {
  max-height:80vh; /* Set a max height for the table container */
  overflow: auto; /* Enable vertical scrolling */
}

.example-container {
  height: 200px;
  overflow: auto;
}

/* Custom scrollbar styling for horizontal scrollbar */
.table-container::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #803c3b; /* Color of the scrollbar thumb */
  border-radius: 4px; /* Round corners of the scrollbar */
}

.table-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
}

.paginator{
  position: fixed;
  bottom: 0;
  z-index: 1000; /* Ensure it stays above the content */
}

